<!DOCTYPE html>
<head>
	<% include partial_head %>
</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1>Creative SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
			    <form method="post" action="/projectAcceptor" enctype="utf/8">
			        <input class="text" id="name" type="text" name="name" placeholder="name">
			        <input class="text" id="budget" type="text" name="budget" placeholder="budget">
			        <textarea class="text" id="description" name="description"></textarea>
			        <input class="text" id="startDate" type="text" name="startDate" placeholder="startDate">
			        <input class="text" id="endDate" type="text" name="endDate" placeholder="endDate">
			        <input type="submit" id="submit">
			    </form>
			</div>
		</div>
	</div>
</body>