<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/javascripts/frappe-gantt/dist/frappe-gantt.css">
</head>
<body>
	<svg id="gantt"></svg>
	<script type="text/javascript" src="/javascripts/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/frappe-gantt/dist/frappe-gantt.min.js"></script>
	<script type="text/javascript" src="/javascripts/ganttData.js"></script>
</body>
</html>