<!DOCTYPE html>
<html>
  <head>
    <% include partial_head %>
  </head>
  <body>
    <header>
        <nav>
            <h2>
                Scribe
            </h2>
        </nav>
    </header> 

    <div id="projects" class="container">
        <h2 id="top">Projects</h2>
        <% for(var n=0; n < tasks.length; n++){ %>
            <!-- <div id="task"> -->
                <a id="task" href="/project/<%= tasks[n].id %>">
                    <div id="projName">
                        <%= tasks[n].name %>
                    </div>
                    <div id="projStage">
                        <%= tasks[n].stage %>
                    </div>
                </a>
            <!-- </div> -->
        <% } %>    
    </div>

    <div id="projectCreator">
        <div style="display: table; height:100%; width:100%">
            <a style="display: table-cell; vertical-align: middle;" href="/projectCreator">Create new project</a>
        </div>
    </div>
  </body>
</html>
