<!DOCTYPE html>
<html>
<head>
	<% include partial_head %>
</head>
<body>
	<h1 id="mainHeader">Project Initiation Process</h1>

	<div id="description">
		<h2>Purpose</h2>
		<p>
			To define a new project or a new phase of an existing project by obtaining authorisation to start a project or a phase. Project stakeholders are also identified.
		</p>
		<h2>Responsibilities</h2>
		<p>
			Project manager is responsible for entire process
			Project controls manager provides PM Methodology to the project manager
			The project sponsor and the project sponsor must approve all project initiation documentation in order to approve commencement of project work by the project manager.
		</p>
	</div>

	<div id="subStageList">

		<% if(approval == ""){ %>
			<a class="subStage" id="gateway" href="#">Develop Project Carter</a>
		<% } else if(approval != ""){ %>
			<a class="subStage" id="gateway" href="/projectCharter">Develop Project Carter</a>
		<% } %>
		<a class="subStage" id="gateway" href="/identifyStakeholders">Identify Stakeholders</a>
		<a class="subStage" id="gateway" href="/prepareEnvironment">Prepare Project Environment</a>
		<a class="subStage" id="gateway" href="/reportPerformance">Report and Review Performance</a>
	</div>
</body>
</html>