<!DOCTYPE html>
<head>
    <title>login</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/stylesheets/processes.css">
</head>
<body>
    <header>
        <nav id="navBar">
            <h1>Scribe</h1>
        </nav>
    </header>
    <div id="loginBelow">
        <h2>Login Below</h2>
    </div>
    <div id="accessForm">
        <div>
            <p>Username</p>
            <input name="username" id="name" type="text" placeholder="Username Here">
            <p>Password</p>
            <input name="password" id="password" type="password" placeholder="Password Here">
            <input name="submit" id="submit" type="submit" value="Login">
        </div>
    <div>
</body>