<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="accessForm">
        <input name="username" id="name" type="text">
        <input name="password" type="password">
    <div>
</body>