<!DOCTYPE html>
<head>
    <title>Potential Project Page</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/processes.css">
</head>
<body>
    <header id="header">
    	<nav id="navBar">
    		<h1>
    			Scribe
    		</h1>
    	</nav>
    </header>
    <div id="metrix">
        <div id="risk">
            <h2>Risk</h2>
            10%
            <!--<%= potentialProject.risk %>-->
        </div>
        <div id="strategicAlignment">
            <h2>Strategic Alignment</h2>
            40%
            <!--<%= potentialProject.stratAlign %>-->
        </div>
        <div id="owner">
            <h2>Owner</h2>
            Minister of Defense
            <!--<%= potentialProject.owner %>-->
        </div>
    </div>
     <div id="background">
        <h1>
            Defense System Upgrade
            <!--<%= potentialProject.name %>-->
        </h1>
        <p>
            This project aims to upgrade the defense systems of our country. There is a need to keep up with current technology
            So it is incumbent upon us to ensure that our defense systems are up to date.
            <!--<%= potentialProject.descriotion %>-->
        </p>
    </div>
    <div id="approveLink">
        <a id="final" href="/projectAprover">Approve</a>
    </div>
</body>