<!DOCTYPE html>
<html lang="en">
<head>
	<title>processes</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/processes.css">
</head>
<body>
    <header id="header">
    	<nav id="navBar">
    		<h2>
    			Scribe
    		</h2>
    	</nav>
    </header>
    <h1 id="mainHeader">Project Processes</h1>
    <div id="processes" class="container">
        <a id="process" href="/project/<%= identifier %>">Project Initiation</a>
        <a id="process" href="#">Project Planning</a>
        <a id="process" href="#">Project Execution</a>
        <a id="process" href="#">Project Monitoring</a>
        <a id="process" href="#">Project Closure</a>
    </div>
</body>
</html>





























































































