<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project roster</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/processes.css">
</head>
<body>
    <header id="header">
    	<nav id="navBar">
    		<h1>
    			Scribe
    		</h1>
    	</nav>
    </header>
        <h2>Project Roster</h2>
        <div id="roster">
            <img src="../images/icon.png" id="rosterIcon">
            <div id="rosterInput">
                <p>Semangmang</p>
                <p>Semang</p>
                <p>2 Years Experience</p>
            </div>
        </div>
        <div id="roster">
            <img src="../images/icon.png" id="rosterIcon">
            <div id="rosterInput">
                <p>Sema</p>
                <p>Seemang</p>
                <p>3 Years Experience</p>
            </div>
        </div>
        <div id="roster">
            <img src="../images/icon.png" id="rosterIcon">
            <div id="rosterInput">
                <p>Eneene</p>
                <p>Yoo</p>
                <p>1 Year Experience</p>
            </div>
        </div>
</body>
</html>




























































































