<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project roster</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/processes.css">
</head>
<body>
    <header id="header">
    	<nav id="navBar">
    		<h1>
    			Scribe
    		</h1>
    	</nav>
    </header>
        <h2>Project Roster</h2>
        <div id="roster">
            <img src="../images/icon.png" id="rosterIcon">
            <div id="rosterInput">
                <h5>Semangmang</h5>
                <h5>Semang</h5>
                <h5>2 Years Experience</h5>
            </div>
        </div>
        <div id="roster">
            <img src="../images/icon.png" id="rosterIcon">
            <div id="rosterInput">
                <h5>Sema</h5>
                <h5>Seemang</h5>
                <h5>3 Years Experience</h5>
            </div>
        </div>
        <div id="roster">
            <img src="../images/icon.png" id="rosterIcon">
            <div id="rosterInput">
                <h5>Eneene</h5>
                <h5>Yoo</h5>
                <h5>1 Year Experience</h5>
            </div>
        </div>
</body>
</html>




























































































