<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project roster</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/processes.css">
</head>
<body>
    <header id="header">
    	<nav id="navBar">
    		<h1>
    			Scribe
    		</h1>
    	</nav>
    </header>
        <h2 id="projectRoster">Project Roster</h2>
            <a id="manager" href="/insertManager/?manId=<%= managers[i].id %>&projId=<%= project %>">
                <div id="roster">
                    <img src="../images/icon.png" id="rosterIcon">
                    <div id="rosterInput">
                        <div id="rosterCenterer">
                            <p>Semangmang</p>
                            <p>Semang</p>
                            <p>2 Years Experience</p>
                        </div>
                    </div>
                </div>
            </a>
        <div id="roster">
            <img src="../images/icon.png" id="rosterIcon">
            <div id="rosterInput">

                <div id="rosterCenterer">
                    <h5>Sema</h5>
                    <h5>Seemang</h5>
                    <h5>3 Years Experience</h5>
                </div>

            </div>
        </div>
        <div id="roster">
            <img src="../images/icon.png" id="rosterIcon">
            <div id="rosterInput">
                <p>Eneene</p>
                <p>Yoo</p>
                <p>1 Year Experience</p>
            </div>
        </div>
</body>
</html>




























































































