<!DOCTYPE html>
<html>
<head>
	<% include partial_head %>
</head>
<body>

<div id="element1">
	<div id="subElement1">
		<p>Hello There</p>
	</div>
	<div id="subElement2">
		<p>How are you</p>
	</div>
</div>

</body>
</html>