body {
    padding: 0px 0px 50px 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/*=============== NavBar =================*/

#navBar {
    margin: auto;
    text-align: center;
    border: 1px solid #2F4F4F;
    background-color: #2F4F4F;
    color: white;
}

/*==============Processes Page=============*/
#mainHeader {
    margin: auto;
    text-align: center;
    padding: 15px 10px;
}

#processes {
    width: 50%;
    margin: auto;
    text-align: center;
}

#process {
    width: 60%;
    height: auto;
    text-decoration: none;
    display: block;
    background-color: #399BDA;
    margin: 12px auto;
    padding: 7px;
    color: white;
    font-size: 1.2em;
    font-weight: 200;
}

#processes a:hover {
    background-color: transparent;
    color: #2F4F4F;
}

/*===============Login Page=============*/
#loginBelow {
    border: 1px solid #399BDA;
    width: 20%;
    margin: 3em auto 0;
    text-align: center;
    background-color: #399BDA;
}

#loginBelow h2 {
    color: #2F4F4F;
    position: relative;
    top: 0px;
}

#accessForm{
    border: 1px solid #399BDA;
    width: 20%;
    height: 15em;
    margin: 0.5em auto;
    text-align: center;
    background-color: #399BDA;
    color: white;
}

#name, #password {
    display: block;
    margin: 0.5em auto;
    text-align: center;
    height: 2em;
    font-size: 1em;
    width: 14em;
}

#accessForm p {
    font-size: 1.2em;
    font-weight: 100;
    margin: 0.5em auto;
}

#accessForm div {
    margin: 2em auto;
}

#accessForm input[type="submit"]:hover {
    background-color: #2F4F4F;
    color: #399BDA;
    border: 1px solid #399BDA;
}

/*=====================Project Roster===================*/
h2 {
    text-align: center;
    color: #2F4F4F;
    position: relative;
    top: 1em;
}

#roster {
    margin: 50px auto;
    padding: 0.1em;
    width: 23em;
    height: 8.5em;
    background-color: #399BDA;
    color: white;
}

#rosterIcon {
    border: 2px solid #2F4F4F;
    height: 6em;
    width: 6em;
    margin: 15px;
}

#rosterInput {
    position: relative;
    padding: 0px;
    width: 10em;
    padding: 0px;
    margin: auto;
    left: 2em;
    bottom: 8em;
}

#rosterInput p {
    display: block;
    color: white;
    padding: 0.2em;
    margin: 0.2em;
    font-size: 1em;
}

/*============Create Project Page============*/
#createWrapper{
    background-color: #399BDA;
    margin: 3em auto;
    padding: 1em;
    width: 30em;
    height: 28em;
    color: white;
    text-align: left;
}






































































































