body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*========= Homepage =========*/
nav{
	color:#282385;
}

nav h2{
	color: white;
}

#projects{
	text-align: center;
	display: block;
	margin: auto;
	width:70%;
}

#top{
	color:grey;
	font-weight: 500;
}

#task{
	text-decoration: none;
	background-color: #399bda;
	color: white;
	display: inline-block;
	width:40%;
	text-align:center;
	margin: 10px 10px 10px 0;

}

#projName{
	width:100%;
	margin:auto;
	text-align: center;
	font-size: 18px;
}

#projStage{
	width:100%;
	margin:auto;
	text-align: center;
	font-size:14px;
	color:#ead0d0;
}

#projectCreator{
	width:40%;
	background-color:navy;
	color:white;
	text-align: center;
	display:block;
	margin:auto;
	height:60px;

}

#projectCreator a{
	color: white;
	font-size: 19px;
	text-decoration: none;
}


/*=========Create Project=============*/

.main-agileinfo {
    width: 46%;
    margin: 2em auto;
    padding: 0;
	border: 0;
	vertical-align: baseline;
}

.agileits-top{
	padding: 1.8em;
	margin: 0;
	font: inherit;
	vertical-align: baseline;
}

/*=========initiation Page============*/
#mainHeader{
	margin:auto;
	text-align: center;
}

#description{
	margin:auto;
	width:50%;
	background-color: #ece6e6;
	padding: 18px;
}

#description h2{
	font-weight: 500;
}

#description p{
	font-size: 14px;
	padding-bottom: 5px;
}

#subStageList{
	width:50%;
	margin:auto;
}

#subStage{
	width: 80%;
	display: block;
	margin: 12px auto;
	text-decoration: none;
	background-color: #399bda;
	color: white;
	padding: 7px;
	text-align: center;
}

/*=========InitiationPageE==========*/
#managerWrapper{
	width:50%;
	display:block;
	margin:auto;
}

#managerPositioner{
	display:table;
	background-color:#399bda;
	width:100%;
	margin-bottom: 10px;
	text-align: center;
}

#manager{
	width:90%;
	color:black;
	height:80px;
	display:block;
	vertical-align: middle;
	margin:10px auto;
	text-decoration:none;
}

/*=========== Project Charter ============*/
#charterForm{
	width:50%;
	display:block;
	margin:auto;
}

#charterInput{
	width:80%;
}

#charterText{
	width:80%;
}

#skuffTin{
	width:50%;
	display: block;
	margin:auto;
}

#fieldBox{
	padding:4px;
	border-bottom:solid 1px #e7dede;
}

#p1{
	height:30px;
	font-weight: 600;
	color:#2b2b32;
	margin:0;
	display:inline-block;
	width:20%;
}

#p2{
	display: inline-block;
	width: 70%;
	margin:0;
}